extends layout

block links
  link(href='/archive.css', rel='stylesheet', type='text/css')

block body
  article
    if month
      .publish-date
        span.date-year
          a(href='/archives/#{year}.html') #{year}
        span.date-month
          a(href='/archives/#{year}-#{month}.html') #{month}
    else if year
      .publish-date
        span.date-year
          a(href='/archives/#{year}.html') #{year}
    ul
      each post in posts
        li
          a(href="#{post.url}") #{post.title}

    .paging
      if isLast != undefined && isHead != undefined
        if isHead
          a(href='/archives/page-#{index+1}.html').paging-prev prev
        else if isLast
          a(href='/archives/page-#{index-1}.html').paging-next next
        else
          a(href='/archives/page-#{index+1}.html').paging-prev prev
          a(href='/archives/page-#{index-1}.html').paging-next next
