extends layout

block links
  link(href='/github-markdown.css', rel='stylesheet', type='text/css')
  link(href='/page.css', rel='stylesheet', type='text/css')
  link(href='/x-comments.html', rel='import')

block body
  article
    .publish-date
      time(datetime='#{date.year}-#{date.month}-#{date.day}', pubdate)
        span.date-year
          a(href='/archives/#{date.year}.html') #{date.year}
        span.date-month
          a(href='/archives/#{date.year}-#{date.month}.html') #{date.month}
        span.date-day #{date.day}
    .markdown-body!= body
    x-comments
