//- Mixin for post, used on homepage and post page
mixin postHead(post)
  .post-head.group
    a(href="#{data.baseUrl}#{post.url}")
      h1.post-title= post.title
    span.post-date!= [post.date.getUTCFullYear(), post.date.getUTCMonth() + 1, post.date.getUTCDate()].join(' &#183; ')

mixin post(post)
  mixin postHead(post)
  .post-body.markdown!= post.content

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel="alternate", type="application/rss+xml", title="kaihatsu", href="/feed.xml")
    link(rel="icon", type="image/png", href="#{data.baseUrl}images/cabin.png")
    link(rel="stylesheet", href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css")
    link(rel="stylesheet", href="/styles/github-markdown.css")
    link(href="#{data.baseUrl}styles/main.css", rel="stylesheet")
    block head
      title= "Kaihatsu"
  body
    #fb-root
    header.pure-u-1-1
      a(href="#{data.baseUrl}")
        h1 Kaihatsu

    article.markdown-body
      block content

    footer.pure-u-1-1
      ul
        li
          a.button(href="#{data.baseUrl}archives.html") Archives
        li
          a.button(href="http://jgs.me") Home
        li
          a.button(href="https://github.com/jgsme/log") Github repository
